
body {
    margin: 0;
    font-family: 'Lato', Verdana, sans-serif;
    
}
h3, p {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 18px;
}

.wrapper {
    width: auto;
    margin: auto;
}

.header {
    background: #2d303a;
    width: auto;
    margin: auto;
    height: 89px;
}

.header-line {
    margin: auto;
    background: #323746;
    width: auto;
    height: 6px;
}


.layout-2-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: auto;
}

.logo {
    font-weight: black;
    padding: 28px 0;
    font-size: 25px;
    color: white;
    letter-spacing: -0.4px;
    cursor: pointer;
}

.last-symbol {
    color: #f06c64;
}

li    {
    
    display: inline-block;
    font-size: 12px;
    margin: 0;
    padding-top: 11.5px;
    padding-left: 11px;
    color: white;
    list-style: none;
    text-align: justify;
    cursor: pointer;
    letter-spacing: -0.05px;
    
}

.home:hover {
    color: #f06c64;
    transition: all 0.5s;
}

.dot {
    margin-right: 11.8px;
    color: #494e62;
}

.container {
    height: 594px;
    background: #f06c64;
    width: auto;
    margin: auto;
}

.wrapper__container {
    width: 940px;
    margin: auto;
    display: flex;
}

.container-line {
    margin: auto;
    background: #ea676b;
    width: auto;
    height: 6px;
}

.img-less  {
    position: relative;
    top: 281px;
    left: 2px;
}
.img-greater  {
    position: relative;
    top: 281px;
    right: -184px;
}

.directions:hover {
    cursor: pointer;
}

.phone-vertical {
    position: relative;
    top: 53px;
    left: 56px;
}

.phone-horizontal {
    position: relative;
    top: 174px;
    right: -129px;
}

.services {
    height: 594px;
    background: #f2f2f2;
    width: auto;
    margin: auto;
}

.services-line {
    margin: 0 auto;
    background: white;
    width: auto;
    height: 6px;
}

.wrapper__services {
    width: 940px;
    margin: auto;
    color: #666d89;
}


.our-services__name {
    margin: 0;
    padding-top: 59px;
    font-weight: 900;
    font-size: 30px;
    
}


.our-srvices__info {
    font-size: 18px;
    font-weight: 300;
    padding-top: 19px;
    letter-spacing: 0.15px;
    line-height: 29px;
    display: inline-block;
}

.our-services {
    margin-bottom: 44px;
}

.layout-3-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.our-services__img {
    padding-top: 4px;
}

.img_1 {
    padding-left: 1px;
}

.our-services__text {
    padding-left: 20px;
    
}

.our-services__info {
    width: 300px;
    display: flex;
    margin-bottom: 23px;
    height: 100px;

}

.our-services__text-string {
    font-size: 11.5px;
    line-height: 22.5px;
    padding: 0;
    font-weight: 500;
    padding-top: 8px;
    text-align: justify;
}
